<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <h1>Test</h1>
    <p>Hola {{ nombre }},</p>
    <p>Haga clic en el siguiente enlace:</p>
    <a href="{{ url }}">Testttt</a>
    <p>Si tiene alguna pregunta, no dude en ponerse en contacto con nosotros.</p>
    <p>¡Gracias!</p>
</body>
</html>