<!DOCTYPE html>
<html>
<head>
    <title>Restablecimiento de Contraseña</title>
</head>
<body>
    <h1>Restablecimiento de Contraseña</h1>
    <p>Hola {{ nombre }},</p>
    <p>Hemos recibido una solicitud para restablecer la contraseña de su cuenta. Si no solicitó esto, puede ignorar este correo electrónico.</p>
    <p>Para restablecer su contraseña, haga clic en el siguiente enlace:</p>
    <a href="{{ resetPasswordUrl }}">Restablecer Contraseña</a>
    <p>Si tiene alguna pregunta, no dude en ponerse en contacto con nosotros.</p>
    <p>¡Gracias!</p>
</body>
</html>