<!DOCTYPE html>
<html>
<head>
    <title>Verificación de Correo</title>
</head>
<body>
    <h1>Verificación de Correo</h1>
    <p>Hola {{ nombre }},</p>
    <p>Por favor, haga clic en el siguiente enlace para verificar su dirección de correo electrónico:</p>
    <a href="{{ verificacionUrl }}">Verificar Correo Electrónico</a>
    <p>¡Gracias!</p>
</body>
</html>